body {
  background-color: #4c4c4c;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 26px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-2-columns h3 {
  margin-top: 0;
}
.img-responsive-1 {
  border-radius: 4px;
}
.img-responsive-1,
.img-responsive-3 {
  max-width: 100%;
  display: block;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.secondary {
  background-color: whitesmoke;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}
.card-footer {
  padding: 20px;
}
.embed {
  width: 100%;
  aspect-ratio: 16/9;
  padding-top: 25px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 4px;
  background: radial-gradient(
    circle,
    rgba(174, 238, 179, 1) 0%,
    rgba(27, 54, 7, 0.8141850490196079) 78%
  );
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 600;
  font-size: 150px;
}

header h2 {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}
header h1,
h2 {
  line-height: 1.5;
  margin: 0;
}
header p {
  font-weight: 300;
  font-size: 20px;
  max-width: 750px;
  margin: 0 auto;
}
header a {
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 15px;
  padding: 16px 32px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6643b5;
  color: white;
}
main {
  background-color: white;
}
main h2,
h4 {
  text-align: center;
}
main h4 {
  margin: 0;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer a {
  color: aqua;
  text-decoration: none;
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
}

footer ul,
li {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 63px;
  }

  header h2 {
    font-size: 15px;
  }
  header p {
    font-size: 10px;
    max-width: 300px;
  }
  header a {
    font-size: 10px;
    padding: 8px 16px;
  }
  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 13px;
  }
  .embed {
    display: none;
  }
  footer {
    font-size: 10px;
  }
}
